/*
	  _    _
     / \  / \
    /   \/   \      Viper.
   |  (0)(0)  |    -------
   |__________|
   
   */

body{
	overflow: hidden;
	background-color: rgb(245, 245, 245);
}

.unshow{
	display: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}